
.container {
    margin-top: 40px;
}

input {
    padding: 10px;
    margin-left: 10px;
    font-size: 1.2em;
}

.buttom-start{
    margin-top: 10px;
    background-color: rgb(95, 227, 236);
    margin-left: 10px;
    margin-bottom: 20px;
}

