body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #bcd7ff;
  color: #333;
}

/* Container geral */
.app {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

/* Calendário */
.date {
    padding: 10px;
    background-color: #fff;
    width: 800px;
    margin: 20px auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-size: 1em;
}

.react-calendar__month-view__weekdays__weekday {
    text-decoration: none;
    color: #006ec9;
    text-align: center;
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: 500;
}

.react-calendar__navigation {
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 60px;
}

.react-calendar__navigation__arrow {
    display: none;
  }

.react-calendar__navigation button {
  font-size: .8em;
}

.tarefas-container {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 800px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 50px;
}

/* Título */
h2 {
  font-size: 1.5rem;
  margin-top: 16px;
  text-align: center;
}

/* Botão principal */
button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 16px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #abd9ff;
}

.buttom {
    background-color: rgb(112, 216, 241);
}

/* Dias com tarefas */
.dia-com-tarefa {
  position: relative;
}

.dia-com-tarefa::after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: 15%;
  width: 70%;
  height: 2px;
  background-color: #03a4af; /* azul */
}

/* Lista de tarefas */
ul {
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
}
